/*
Theme Name: Twenty Fifteen One
Author:     CyanWave
Author URI: https://seewang.me
Template:   twentyfifteen
Lincense:   GNU General Public License v2 or later
*/
.entry-content p {
    text-align: justify;
}

.social-navigation a[href*="weibo.com"]:before {
    font-family: "FontAwesome";

    content: "\f18a";
}

.widget_archive select {
    padding: .5em;
    width: 100%;
}


body.tag {
    color: #000;
}
